.dashboard {
  .p-card-title {
    font-size: 1.1rem;
    color: #000;
  }

  .title {
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .dataview {
    .p-rating-item-active .p-rating-icon {
      color: #5356cc;
    }
  }
}
