.dataview {
  .search {
    height: 2.5rem;
    background-color: #fff;
    border: 1px solid #acacac;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .pi-search {
      margin-left: 0.5rem;
    }

    input {
      border: none;
    }
  }

  .p-button {
    background: #4f46e5;
    border-color: #4f46e5;
  }
}
