@import "../../colors";

.app__layout {
  height: 100vh;

  .main__layout {
    background-color: $light_blue;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .layout__container {
    padding: 0 2rem;
  }

  .sidebar {
    transition: width 0.3s ease;
  }

  .closed {
    width: 0 !important;
  }
}
