@import "../../colors";

.app__layout {
  height: 100vh;
  display: flex;
  overflow: hidden;

  .main__layout {
    height: 100vh;
    background-color: $light_blue;
    overflow-y: auto;
    flex: 1;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .layout__container {
    padding: 0 2rem;
  }

  .sidebar {
    transition: width 0.3s ease;
    width: 15%;
  }

  .closed {
    width: 0 !important;
  }
}
